@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300;1,400;1,500&display=swap');

.fa-images{
    color:#127990;
}
body{
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-style: italic;
}
td,.picFooter{
    text-align: center;
}
.notVisible{
    display: none;
}

