
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300;1,400;1,500&display=swap');


html,body,.col-btn{
    min-height: 100%;
}
.container-btn {
    text-align: center;
    width: 100%;
}
.btn-freeOffice{
    width: 45%;
    height: 100px;
    margin: 0 auto;
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-style: italic;
}
.col-btn{
    height: 100%;
}


