@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300;1,400;1,500&display=swap');

.fa-user{
    color: #127990;
    font-size: 25px;
    
}
.fa-feather{
    color: #127990;/*#005b6f*/
    font-size: 35px;

    
}
.navbar-header {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .navbar-brand{
    margin-bottom: 20px;
 }
 .login{
    margin-top: 7px;
}

.nav-font{
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-style: italic;
}


